In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv(r'..\data\netflix_titles.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [26]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [27]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [28]:
df.sample(25)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1399,s1400,Movie,Radium Girls,"Lydia Dean Pilcher, Ginny Mohler","Joey King, Abby Quinn, Cara Seymour, Scott She...",United States,"January 16, 2021",2018,TV-14,103 min,"Dramas, Independent Movies",When the women at a radium factory begin to fa...
1707,s1708,Movie,A Very Special Love,Cathy Garcia-Molina,"John Lloyd Cruz, Sarah Geronimo, Dante Rivero,...",Philippines,"November 12, 2020",2008,TV-G,107 min,"International Movies, Romantic Movies",After landing a job working for her longtime c...
2092,s2093,Movie,The Young Messiah,Cyrus Nowrasteh,"Adam Greaves-Neal, Sara Lazzaro, Vincent Walsh...",United States,"August 27, 2020",2016,PG-13,111 min,"Dramas, Faith & Spirituality",Tormented by a demon and on the run from a Rom...
7615,s7616,Movie,NOVA: Secrets of the Shining Knight,Peter Yost,Jay O. Sanders,United States,"July 1, 2019",2017,TV-PG,53 min,Documentaries,A master armorer and his team recreate parts o...
3433,s3434,TV Show,The Hook Up Plan,NaN,"Marc Ruchmann, Zita Hanrot, Sabrina Ouazani, J...",France,"October 11, 2019",2020,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...","When Parisian Elsa gets hung up on her ex, her..."
6103,s6104,Movie,Ahista Ahista,Shivam Nair,"Abhay Deol, Soha Ali Khan, Shayan Munshi, Kami...",India,"December 31, 2019",2006,TV-14,122 min,"Dramas, International Movies, Romantic Movies","Stood up by her groom at the altar, a young wo..."
2893,s2894,TV Show,Passion. Panache. Pep,NaN,NaN,NaN,"February 21, 2020",2020,TV-G,1 Season,"International TV Shows, Reality TV",From delicious delicacies to dream destination...
8073,s8074,Movie,Sprinter,Storm Saulter,"Dale Elliott, Kadeem Wilson, Dennis Titus, Dav...","Jamaica, United States","April 15, 2020",2018,TV-MA,112 min,"Dramas, International Movies, Sports Movies",When a Jamaican teen hopes to use track to reu...
6138,s6139,Movie,American Experience: Ruby Ridge,Barak Goodman,"Dave Hunt, Bo Gritz, Sara Weaver",United States,"April 19, 2017",2017,TV-MA,53 min,Documentaries,A botched attempt to arrest a white supremacis...
1764,s1765,Movie,Snowden,Oliver Stone,"Joseph Gordon-Levitt, Shailene Woodley, Zachar...","United Kingdom, France, Germany, United States","November 1, 2020",2016,R,134 min,"Dramas, Thrillers",This thriller traces Edward Snowden's journey ...
1953,s1954,Movie,My Mother's Wound,Ozan Açıktan,"Ozan Güven, Meryem Uzerli, Belçim Bilgin, Okan...",NaN,"September 25, 2020",2016,TV-MA,115 min,"Dramas, International Movies",After leaving the orphanage where he was raise...
3730,s3731,Movie,The Wolf's Call,Antonin Baudry,"François Civil, Omar Sy, Mathieu Kassovitz, Re...",France,"June 20, 2019",2019,TV-14,116 min,"Dramas, International Movies, Thrillers","With nuclear war looming, a military expert in..."
4817,s4818,Movie,"To Each, Her Own",Myriam Aziza,"Sarah Stern, Jean-Christophe Folly, Julia Piat...",France,"June 24, 2018",2018,TV-MA,95 min,"Comedies, International Movies, LGBTQ Movies",Just as Simone works up the courage to tell he...
5376,s5377,Movie,Chasing Coral,Jeff Orlowski,NaN,United States,"July 14, 2017",2017,TV-PG,89 min,Documentaries,"Divers, scientists and photographers around th..."
997,s998,TV Show,Life in Color with David Attenborough,NaN,David Attenborough,"Australia, United Kingdom","April 22, 2021",2021,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...","Using innovative technology, this docuseries e..."
7526,s7527,Movie,Muppets Most Wanted,James Bobin,"Ricky Gervais, Ty Burrell, Tina Fey, Kermit th...",United States,"September 1, 2020",2014,PG,110 min,"Children & Family Movies, Comedies","In the middle of their global tour, the Muppet..."
6126,s6127,TV Show,Alphablocks,NaN,"Teresa Gallagher, David Holt, Lizzie Waterworth",United Kingdom,"May 25, 2020",2014,TV-Y,5 Seasons,Kids' TV,The letters of the alphabet come to life in Al...
2487,s2488,Movie,No Longer kids,Samir Al Asfory,"Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...",Egypt,"May 21, 2020",1979,TV-14,237 min,"Comedies, Dramas, International Movies",Hoping to prevent their father from skipping t...
1294,s1295,TV Show,Tribes of Europa,NaN,"Henriette Confurius, Emilio Sakraya, David Ali...",Germany,"February 19, 2021",2021,TV-MA,1 Season,"International TV Shows, TV Action & Adventure,...","In post-apocalyptic Europe, amid wars among mi..."
185,s186,Movie,Untold: Crime & Penalties,"Chapman Way, Maclain Way",NaN,NaN,"August 31, 2021",2021,TV-MA,86 min,"Documentaries, Sports Movies",They were the bad boys of hockey — a team boug...
2481,s2482,Movie,#FriendButMarried,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018,TV-G,102 min,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ..."
2110,s2111,Movie,Scarecrow,Khaled Marei,"Ahmed Helmy, Menna Shalaby, Khaled El Sawy, Ba...",Egypt,"August 20, 2020",2019,TV-MA,121 min,"Comedies, International Movies",When his former partners vote to sell off a pr...
1099,s1100,Movie,The Fisherman's Diary,Enah Johnscott,"Kang Quintus, Faith Fidel, Casson Chinepoh, Ra...",Cameroon,"April 4, 2021",2020,TV-MA,143 min,"Dramas, International Movies",Inspired by Nobel Peace Prize winner Malala Yo...
3785,s3786,Movie,"Oh, Ramona!",Cristina Jacob,"Bogdan Iancu, Aggy K. Adams, Holly Horne, Basi...",Romania,"June 1, 2019",2019,TV-MA,109 min,"Comedies, International Movies",Awkward 16-year-old Andrei is infatuated with ...
7718,s7719,TV Show,Pawn Stars,NaN,"Corey Harrison, Richard Harrison, Rick Harriso...",United States,"September 15, 2019",2010,TV-14,1 Season,Reality TV,"Father Richard Harrison, son Rick and grandson..."

In [29]:
df['country'].replace(np.NaN, '', inplace=True)

In [30]:
dict = {}
for val in df['country']:
    if ',' in val:
        list = val.replace(' ,',',').replace(', ',',').split(',')
        for v in list:
            if v in dict:
                dict[v] = dict[v] + 1
            else:
                dict[v] = 1
    else:
        if val in dict:
            dict[val] = dict[val] + 1
        else:
            dict[val] = 1
dict.pop('')
d = {'Countries': [*dict], 'Count': [dict[key] for key in dict]}
df_countries = pd.DataFrame(data=d)

df_countries.head()

       Countries  Count
0  United States   3690
1   South Africa     62
2          India   1046
3          Ghana      5
4   Burkina Faso      1

In [31]:
import pycountry

input_countries = [*dict]

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_3

codes = [countries.get(country, 'Unknown code') for country in input_countries]

df_countries = df_countries.assign(iso_alpha=codes)

df_countries.head()

       Countries  Count iso_alpha
0  United States   3690       USA
1   South Africa     62       ZAF
2          India   1046       IND
3          Ghana      5       GHA
4   Burkina Faso      1       BFA

In [32]:
df_countries.to_csv(r'..\data\netflix-countries.csv', sep=',', index=False)