In [38]:
import pandas as pd
import numpy as np

In [39]:
df = pd.read_csv(r'..\data\netflix daily top 10.csv')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   object
 3   Last Week Rank        7100 non-null   object
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     4599 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(3), object(7)
memory usage: 554.8+ KB

In [41]:
df.isnull().sum()

As of                      0
Rank                       0
Year to Date Rank          0
Last Week Rank             0
Title                      0
Type                       0
Netflix Exclusive       2501
Netflix Release Date       0
Days In Top 10             0
Viewership Score           0
dtype: int64

In [42]:
df['Netflix Exclusive'].sample(10)

6053    Yes
3152    NaN
3320    Yes
1269    Yes
6373    Yes
4742    NaN
379     Yes
4626    NaN
6760    Yes
1059    NaN
Name: Netflix Exclusive, dtype: object

In [43]:
df['Netflix Exclusive'].replace(np.NaN, 'No', inplace=True)

In [44]:
df.sample(10)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
3399,2021-03-06,10,-,-,The Dark Knight,Movie,No,"Mar 1, 2021",1,1
709,2020-06-10,10,10,-,Queen of the South,TV Show,No,"May 9, 2017",2,2
2532,2020-12-10,3,3,-,Ava,Movie,No,"Dec 7, 2020",3,20
6539,2022-01-14,10,8,8,Just Go With It,Movie,No,"May 22, 2020",19,67
656,2020-06-05,7,8,-,Clueless,Movie,No,"Jan 1, 2014",3,10
2084,2020-10-26,5,4,-,My Next Guest Needs No Intr…,TV Show,Yes,"Jan 12, 2018",5,36
6593,2022-01-20,4,3,-,After We Fell,Movie,No,"Jan 17, 2022",3,23
6383,2021-12-30,4,-,-,Crime Scene: The Times Squa…,TV Show,Yes,"Dec 29, 2021",1,7
2193,2020-11-06,4,2,-,Knock Knock,Movie,No,"Nov 1, 2020",4,32
5275,2021-09-10,6,4,4,Manifest,TV Show,No,"Jun 10, 2021",74,575

In [45]:
df['Last Week Rank'].replace('-', '0', inplace=True)
df['Year to Date Rank'].replace('-', '0', inplace=True)

In [46]:
df['Last Week Rank'].sample(10)

6276    0
3977    6
6777    4
718     0
2284    0
5177    0
3953    3
2998    0
1590    0
6102    0
Name: Last Week Rank, dtype: object

In [47]:
df['Year to Date Rank'] = pd.to_numeric(df['Year to Date Rank'], errors='coerce')
df['Last Week Rank'] = pd.to_numeric(df['Last Week Rank'], errors='coerce')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   int64
 3   Last Week Rank        7100 non-null   int64
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     7100 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(5), object(5)
memory usage: 554.8+ KB

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   int64
 3   Last Week Rank        7100 non-null   int64
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     7100 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(5), object(5)
memory usage: 554.8+ KB

In [50]:
df.to_csv(r'..\data\netflix-daily-top-10.csv', sep=',', index=False)

In [51]:
# sprawdzić czy działa bez zmiany dtype na date