In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv(r'..\data\netflix daily top 10.csv')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   object
 3   Last Week Rank        7100 non-null   object
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     4599 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(3), object(7)
memory usage: 554.8+ KB

In [35]:
df.isnull().sum()

As of                      0
Rank                       0
Year to Date Rank          0
Last Week Rank             0
Title                      0
Type                       0
Netflix Exclusive       2501
Netflix Release Date       0
Days In Top 10             0
Viewership Score           0
dtype: int64

In [36]:
df['Netflix Exclusive'].sample(10)

4245    Yes
1339    NaN
5861    Yes
1381    NaN
5735    NaN
2070    Yes
4994    Yes
3342    Yes
2107    Yes
10      Yes
Name: Netflix Exclusive, dtype: object

In [42]:
df['Netflix Exclusive'].replace(np.NaN, 'No', inplace=True)

In [43]:
df.sample(10)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
36,2020-04-04,7,6,-,The Roommate,Movie,No,"Apr 1, 2020",3,13
4607,2021-07-05,8,6,3,Fatherhood,Movie,Yes,"Jun 18, 2021",17,128
1907,2020-10-08,8,10,8,Cocomelon,TV Show,No,"Jun 1, 2020",29,61
917,2020-07-01,8,7,3,The Nut Job,Movie,No,"Aug 13, 2014",11,58
4126,2021-05-18,7,7,-,I Am All Girls,Movie,Yes,"May 14, 2021",4,12
2086,2020-10-26,7,6,-,Rebecca,Movie,Yes,"Oct 21, 2020",5,31
4915,2021-08-05,6,5,-,Top Secret UFO Projects: De…,TV Show,Yes,"Aug 3, 2021",2,11
6991,2022-03-01,2,3,1,Inventing Anna,TV Show,Yes,"Feb 11, 2022",18,173
4492,2021-06-24,3,-,-,Too Hot to Handle,TV Show,Yes,"Apr 17, 2020",16,96
5825,2021-11-04,6,4,-,Colin in Black & White,TV Show,Yes,"Oct 29, 2021",5,19

In [47]:
df['Last Week Rank'].replace('-', '0', inplace=True)
df['Year to Date Rank'].replace('-', '0', inplace=True)

In [48]:
df['Last Week Rank'].sample(10)

5843    1
2882    0
155     0
5384    2
4051    1
463     0
5132    0
426     0
6304    0
278     7
Name: Last Week Rank, dtype: object

In [65]:
df['Year to Date Rank'] = pd.to_numeric(df['Year to Date Rank'], errors='coerce')
df['Last Week Rank'] = pd.to_numeric(df['Last Week Rank'], errors='coerce')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   int64
 3   Last Week Rank        7100 non-null   int64
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     7100 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(5), object(5)
memory usage: 554.8+ KB

In [68]:
df.to_csv(r'..\data\netflix-daily-top-10.csv', sep=',', index=False)

In [ ]:
# sprawdzić czy działa bez zmiany dtype na date