In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'..\data\netflix_titles.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [4]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [6]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [7]:
df.sample(25)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5819,s5820,Movie,David Cross: Making America Great Again!,Alex Coletti,David Cross,United States,"August 5, 2016",2016,TV-MA,73 min,Stand-Up Comedy,"Cross skewers Donald Trump, religious taboos a..."
6769,s6770,Movie,Flock of Four,Gregory Caruso,"Braeden Lemasters, Isaac Jay, Uriah Shelton, D...",United States,"August 1, 2018",2018,TV-MA,83 min,"Dramas, Independent Movies, Music & Musicals","One night in 1959, four young musicians ventur..."
3984,s3985,TV Show,The 10 Sins,NaN,"Abdul Mohsen Alnimer, Haifa Hussien, Qahtan Al...",NaN,"March 22, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas","In this social drama of sin and remorse, a man..."
8627,s8628,Movie,Trespass Against Us,Adam Smith,"Michael Fassbender, Brendan Gleeson, Lyndsey M...",United Kingdom,"February 22, 2019",2016,R,100 min,Dramas,A man from a criminal family yearns to break a...
2123,s2124,TV Show,Dérè: An African Tale,NaN,"Weruche Opia, Gbenro Ajibade, Ireti Doyle, Kep...",NaN,"August 15, 2020",2016,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...","After experiencing a tragic loss, a woman must..."
3398,s3399,Movie,Eli,Ciarán Foy,"Charlie Shotwell, Lili Taylor, Kelly Reilly, M...",United States,"October 18, 2019",2019,TV-MA,98 min,Horror Movies,"With his desperate parents in tow, an 11-year-..."
1593,s1594,TV Show,Kings of Jo'Burg,NaN,"Shona Ferguson, Zolisa Xaluva, Tsholofelo Mats...",South Africa,"December 4, 2020",2020,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",The Masire brothers rule Johannesburg's crimin...
7061,s7062,Movie,In The Deep,Johannes Roberts,"Mandy Moore, Claire Holt, Matthew Modine, Chri...","United Kingdom, United States, Dominican Republic","January 10, 2018",2017,PG-13,89 min,"Horror Movies, International Movies, Thrillers","With little oxygen left in their scuba tanks, ..."
2191,s2192,Movie,Retablo,Álvaro Delgado-Aparicio L.,"Junior Béjar Roca, Amiel Cayo, Magaly Solier, ...","Peru, Germany, Norway","July 30, 2020",2017,TV-MA,102 min,"Dramas, International Movies","High in the Andes, a teenage boy and his fathe..."
5289,s5290,TV Show,A House of Blocks,NaN,"Eli Shi, Phoebe Lin, Chen Wan-ting, Fan Chen-f...",Taiwan,"September 1, 2017",2017,TV-PG,1 Season,"International TV Shows, TV Dramas, TV Horror",Yijuan and her mentally ill sister Kaiqi strug...
1613,s1614,Movie,Effie Gray,Richard Laxton,"Dakota Fanning, Emma Thompson, Julie Walters, ...",United Kingdom,"December 1, 2020",2014,PG-13,109 min,"Dramas, International Movies, Romantic Movies","Trapped in a loveless marriage, the young wife..."
6170,s6171,Movie,Another Forever,Juan Zapata,"Daniela Escobar, Marlon Moreno, Peter Ketnath,...","Brazil, Netherlands, United States, Colombia, ...","March 21, 2017",2016,TV-PG,72 min,"Dramas, Independent Movies, International Movies","Overtaken by the death of her beloved, a griev..."
6150,s6151,Movie,An American in Madras,Karan Bali,NaN,India,"January 1, 2017",2013,TV-PG,80 min,"Documentaries, International Movies",Extensive film clips and interviews tell the s...
1319,s1320,Movie,Xico's Journey,Eric D. Cabello Díaz,"Verónica Alva, Pablo Gama Iturrarán “Mago Gami...",Mexico,"February 12, 2021",2021,TV-Y7,87 min,Children & Family Movies,"A girl, a dog and her best pal set out to save..."
8302,s8303,TV Show,The Five,Mark Tonderai,"Tom Cullen, O.T. Fagbenle, Lee Ingleby, Sarah ...",United Kingdom,"September 15, 2017",2016,TV-MA,1 Season,"British TV Shows, Crime TV Shows, TV Dramas",Twenty years after 5-year-old Jesse disappears...
6180,s6181,Movie,Apollo 18,Gonzalo López-Gallego,"Warren Christie, Lloyd Owen, Ryan Robbins, Mic...","United States, Canada","March 9, 2019",2011,PG-13,87 min,"Horror Movies, Sci-Fi & Fantasy, Thrillers","This sci-fi thriller suggests that Apollo 17, ..."
4519,s4520,Movie,The Kindergarten Teacher,Sara Colangelo,"Maggie Gyllenhaal, Parker Sevak, Gael García B...","United States, Israel, United Kingdom, Canada","October 12, 2018",2018,R,97 min,"Dramas, Independent Movies",A devoted teacher takes interest in a young st...
4187,s4188,Movie,Adhugo,NaN,NaN,India,"January 15, 2019",2018,TV-14,105 min,"Comedies, Independent Movies, International Mo...",A fast-footed piglet named Bunty becomes an ob...
7270,s7271,Movie,Last Knights,Kazuaki Kiriya,"Clive Owen, Morgan Freeman, Cliff Curtis, Akse...","United Kingdom, South Korea","August 1, 2019",2015,R,115 min,Action & Adventure,A nobleman who values his people's well-being ...
2344,s2345,Movie,Nobody Knows I'm Here,Gaspar Antillo,"Jorge García, Millaray Lobos, Luis Gnecco, Ale...",Chile,"June 24, 2020",2020,TV-MA,92 min,"Dramas, Independent Movies, International Movies","A former child singer, traumatized by his expe..."
737,s738,TV Show,Trese,Jay Oliva,"Shay Mitchell, Liza Soberano, Jon Jon Briones,...","Philippines, Singapore, Indonesia","June 11, 2021",2021,TV-MA,1 Season,"Anime Series, Crime TV Shows, TV Horror","In Manila, where dark supernatural forces perv..."
8667,s8668,Movie,USS Indianapolis: Men of Courage,Mario Van Peebles,"Nicolas Cage, Tom Sizemore, Thomas Jane, Matt ...",United States,"September 25, 2019",2016,R,130 min,Action & Adventure,After becoming stranded in the Philippine Sea ...
6140,s6141,Movie,American Experience: The Island Murder,Mark Zwonitzer,Blair Brown,United States,"May 1, 2019",2018,TV-14,53 min,Documentaries,"In 1931, a young Navy wife tore apart Hawaii o..."
686,s687,TV Show,Hospital Playlist,NaN,"Cho Jung-seok, Yoo Yeon-seok, Jung Kyung-ho, K...",South Korea,"June 18, 2021",2021,TV-14,2 Seasons,"International TV Shows, Korean TV Shows, TV Co...",Every day is extraordinary for five doctors an...
8354,s8355,Movie,The Hurricane Heist,Rob Cohen,"Toby Kebbell, Maggie Grace, Ryan Kwanten, Ralp...","United Kingdom, United States","September 26, 2018",2018,PG-13,103 min,Action & Adventure,A deadly hurricane with mile-high waves provid...