In [347]:
import pandas as pd
import numpy as np

In [348]:
df = pd.read_csv(r'..\data\netflix daily top 10.csv')

In [349]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   object
 3   Last Week Rank        7100 non-null   object
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     4599 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(3), object(7)
memory usage: 554.8+ KB

In [350]:
df.isnull().sum()

As of                      0
Rank                       0
Year to Date Rank          0
Last Week Rank             0
Title                      0
Type                       0
Netflix Exclusive       2501
Netflix Release Date       0
Days In Top 10             0
Viewership Score           0
dtype: int64

In [351]:
df.replace('â', '\'', inplace=True)

In [352]:
df['Netflix Exclusive'].sample(10)

895     Yes
153     Yes
3245    Yes
6098    NaN
6453    Yes
3420    Yes
4371    NaN
6062    Yes
5251    Yes
32      Yes
Name: Netflix Exclusive, dtype: object

In [353]:
df['Netflix Exclusive'].replace(np.NaN, 'No', inplace=True)

In [354]:
df.sample(10)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
6374,2021-12-29,5,5,2,The Unforgivable,Movie,Yes,"Dec 10, 2021",19,160
3761,2021-04-12,2,2,-,This is a Robbery: The Worl…,TV Show,Yes,"Apr 7, 2021",4,34
5712,2021-10-24,3,3,3,Maid,TV Show,Yes,"Oct 1, 2021",23,192
596,2020-05-30,7,6,4,Riverdale,TV Show,No,"May 19, 2017",16,96
3710,2021-04-07,1,1,-,What Lies Below,Movie,No,"Apr 4, 2021",3,28
4023,2021-05-08,4,3,-,Selena: The Series,TV Show,Yes,"Dec 4, 2020",15,117
4746,2021-07-19,7,4,-,Fear Street Part 3: 1666,Movie,Yes,"Jul 16, 2021",3,19
7067,2022-03-08,8,8,-,Shrek 2,Movie,No,"Mar 1, 2022",7,25
5499,2021-10-02,10,6,3,Sex Education,TV Show,Yes,"Jan 11, 2019",14,99
1891,2020-10-07,2,2,-,Emily in Paris,TV Show,Yes,"Oct 2, 2020",5,43

In [355]:
df['Last Week Rank'].replace('-', '0', inplace=True)
df['Year to Date Rank'].replace('-', '0', inplace=True)

In [356]:
df['Last Week Rank'].sample(10)

1866     0
2131    10
2253     8
6778     0
5093     0
3051     0
5790     0
1648     0
6782     3
5502     0
Name: Last Week Rank, dtype: object

In [357]:
df['Year to Date Rank'] = pd.to_numeric(df['Year to Date Rank'], errors='coerce')
df['Last Week Rank'] = pd.to_numeric(df['Last Week Rank'], errors='coerce')

In [358]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   int64
 3   Last Week Rank        7100 non-null   int64
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     7100 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(5), object(5)
memory usage: 554.8+ KB

In [359]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   int64
 3   Last Week Rank        7100 non-null   int64
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     7100 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(5), object(5)
memory usage: 554.8+ KB

In [360]:
df.describe()

,Rank,Year to Date Rank,Last Week Rank,Days In Top 10,Viewership Score
count,7100.000000,7100.000000,7100.000000,7100.000000,7100.000000
mean,5.500000,4.439296,1.737324,24.123662,122.790141
std,2.872484,3.041267,2.620020,58.473789,213.861642
min,1.000000,0.000000,0.000000,1.000000,1.000000
25%,3.000000,2.000000,0.000000,3.000000,19.000000
50%,5.500000,4.000000,0.000000,7.000000,50.000000
75%,8.000000,7.000000,3.000000,18.000000,128.000000
max,10.000000,10.000000,10.000000,428.000000,1474.000000

In [361]:
df[(df['Days In Top 10'] > 50) & (df['Title'] != 'Cocomelon')]

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
2569,2020-12-13,10,9,8,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",51,392
2577,2020-12-14,8,10,7,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",52,395
2588,2020-12-15,9,8,6,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",53,397
2598,2020-12-16,9,9,6,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",54,399
2608,2020-12-17,9,9,7,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",55,401
...,...,...,...,...,...,...,...,...,...,...
6954,2022-02-25,5,5,5,Ozark,TV Show,Yes,"Jul 21, 2017",85,524
6967,2022-02-26,8,5,8,Ozark,TV Show,Yes,"Jul 21, 2017",86,527
6979,2022-02-27,10,8,7,Ozark,TV Show,Yes,"Jul 21, 2017",87,528
6986,2022-02-28,7,10,7,Ozark,TV Show,Yes,"Jul 21, 2017",88,532
6996,2022-03-01,7,7,8,Ozark,TV Show,Yes,"Jul 21, 2017",89,536

In [362]:
df['Type'].unique()

array(['TV Show', 'Movie', 'Stand-Up Comedy', 'Concert/Perf…'],
      dtype=object)

In [363]:
df.replace('Stand-Up Comedy', 'TV Show', inplace=True)
df.replace('Concert/Perf…', 'TV Show', inplace=True)

In [364]:
df.Type.unique()

array(['TV Show', 'Movie'], dtype=object)

In [365]:
df1 = df.copy()

In [366]:
df1.sort_values(by='Days In Top 10', ascending=False, inplace=True)
df1.head(10)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
6998,2022-03-01,9,0,0,Cocomelon,TV Show,No,"Jun 1, 2020",428,1474
6959,2022-02-25,10,0,0,Cocomelon,TV Show,No,"Jun 1, 2020",427,1472
6718,2022-02-01,9,0,7,Cocomelon,TV Show,No,"Jun 1, 2020",426,1471
6687,2022-01-29,8,5,8,Cocomelon,TV Show,No,"Jun 1, 2020",425,1469
6674,2022-01-28,5,6,0,Cocomelon,TV Show,No,"Jun 1, 2020",424,1466
6665,2022-01-27,6,6,0,Cocomelon,TV Show,No,"Jun 1, 2020",423,1460
6655,2022-01-26,6,7,0,Cocomelon,TV Show,No,"Jun 1, 2020",422,1455
6646,2022-01-25,7,10,0,Cocomelon,TV Show,No,"Jun 1, 2020",421,1450
6639,2022-01-24,10,0,0,Cocomelon,TV Show,No,"Jun 1, 2020",420,1446
6617,2022-01-22,8,0,10,Cocomelon,TV Show,No,"Jun 1, 2020",419,1445

In [367]:
df1['Title'] = df1['Title'].drop_duplicates(keep='first')
df1 = df1.dropna()
df1.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
6998,2022-03-01,9,0,0,Cocomelon,TV Show,No,"Jun 1, 2020",428,1474
6996,2022-03-01,7,7,8,Ozark,TV Show,Yes,"Jul 21, 2017",89,536
6678,2022-01-28,9,7,5,Cobra Kai,TV Show,No,"Aug 28, 2020",81,582
5347,2021-09-17,8,7,6,Manifest,TV Show,No,"Jun 10, 2021",80,590
2809,2021-01-06,10,9,6,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",73,446

In [368]:
df1.Title.str.replace('â', '\'')

6998                         Cocomelon
6996                             Ozark
6678                         Cobra Kai
5347                          Manifest
2809                The Queen's Gambit
                     ...
429     House at the End of the Street
6739                     The Lucky One
1689        How to Train Your Dragon 2
6673                            Chosen
3988                     Your Highness
Name: Title, Length: 645, dtype: object

In [369]:
df1.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
6998,2022-03-01,9,0,0,Cocomelon,TV Show,No,"Jun 1, 2020",428,1474
6996,2022-03-01,7,7,8,Ozark,TV Show,Yes,"Jul 21, 2017",89,536
6678,2022-01-28,9,7,5,Cobra Kai,TV Show,No,"Aug 28, 2020",81,582
5347,2021-09-17,8,7,6,Manifest,TV Show,No,"Jun 10, 2021",80,590
2809,2021-01-06,10,9,6,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",73,446

In [370]:
df_movies = df1[df1.Type == 'Movie']
df_series = df1[df1.Type == 'TV Show']

In [371]:
df_movies.head(10)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
4258,2021-05-31,9,9,6,The Mitchells vs. The Machines,Movie,Yes,"Apr 30, 2021",31,204
5476,2021-09-30,7,0,0,Vivo,Movie,Yes,"Aug 6, 2021",29,166
2719,2020-12-28,10,6,2,How the Grinch Stole Christmas,Movie,No,"Jun 1, 2017",29,137
959,2020-07-05,10,10,4,365 Days,Movie,Yes,"Jul 7, 2020",28,213
6997,2022-03-01,8,9,9,Despicable Me 2,Movie,No,"Feb 1, 2022",27,88
6589,2022-01-19,10,9,5,Donât Look Up,Movie,Yes,"Dec 24, 2021",26,189
2475,2020-12-04,6,9,6,Illumination Presents The G…,Movie,No,"Jun 5, 2019",24,95
6346,2021-12-26,7,5,0,The Christmas Chronicles 2,Movie,Yes,"Nov 25, 2020",24,132
2929,2021-01-18,10,9,5,We Can Be Heroes,Movie,Yes,"Dec 25, 2020",24,144
6208,2021-12-12,9,10,9,Red Notice,Movie,Yes,"Nov 12, 2021",23,162

In [372]:
df_series.head(10)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
6998,2022-03-01,9,0,0,Cocomelon,TV Show,No,"Jun 1, 2020",428,1474
6996,2022-03-01,7,7,8,Ozark,TV Show,Yes,"Jul 21, 2017",89,536
6678,2022-01-28,9,7,5,Cobra Kai,TV Show,No,"Aug 28, 2020",81,582
5347,2021-09-17,8,7,6,Manifest,TV Show,No,"Jun 10, 2021",80,590
2809,2021-01-06,10,9,6,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",73,446
5187,2021-09-01,8,9,6,Outer Banks,TV Show,Yes,"Apr 15, 2020",72,534
6068,2021-11-28,9,10,10,Squid Game,TV Show,Yes,"Sep 17, 2021",66,495
5209,2021-09-03,10,9,6,All American,TV Show,No,"Mar 28, 2019",66,416
3269,2021-02-21,10,10,8,Bridgerton,TV Show,Yes,"Dec 25, 2020",58,432
5417,2021-09-24,8,4,1,Lucifer,TV Show,No,"Dec 15, 2018",57,415

In [373]:
df1.Title.str.replace('â', '\'')
# The Queenâs Gambit
df1.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
6998,2022-03-01,9,0,0,Cocomelon,TV Show,No,"Jun 1, 2020",428,1474
6996,2022-03-01,7,7,8,Ozark,TV Show,Yes,"Jul 21, 2017",89,536
6678,2022-01-28,9,7,5,Cobra Kai,TV Show,No,"Aug 28, 2020",81,582
5347,2021-09-17,8,7,6,Manifest,TV Show,No,"Jun 10, 2021",80,590
2809,2021-01-06,10,9,6,The Queenâs Gambit,TV Show,Yes,"Oct 23, 2020",73,446

In [374]:
df.to_csv(r'..\data\netflix-daily-top-10.csv', sep=',', index=False)