In [96]:
import pandas as pd
import numpy as np

In [97]:
df = pd.read_csv(r'..\data\netflix_titles.csv')

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [99]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [100]:
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [101]:
df.sample(25)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4581,s4582,Movie,Lock,Smeep Kang,"Gippy Grewal, Gurpreet Guggi, Smeep Kang, Geet...",India,"October 1, 2018",2016,TV-14,90 min,"Dramas, International Movies",A disillusioned rickshaw driver in Punjab drea...
4880,s4881,Movie,Lo más sencillo es complicarlo todo,Rene Bueno,"Danna Paola, Marjorie De Sousa, Alosian Vivanc...",Mexico,"May 4, 2018",2018,TV-14,94 min,"Comedies, International Movies, Romantic Movies",When a 17-year-old learns the TV news host she...
5977,s5978,Movie,Æon Flux,Karyn Kusama,"Charlize Theron, Marton Csokas, Jonny Lee Mill...",United States,"February 1, 2018",2005,PG-13,93 min,"Action & Adventure, Sci-Fi & Fantasy","Aiming to hasten an uprising, the leader of an..."
486,s487,Movie,Ratchet and Clank,"Jericca Cleland, Kevin Munroe","Paul Giamatti, John Goodman, Bella Thorne, Ros...","Hong Kong, Canada, United States","July 9, 2021",2016,PG,94 min,"Children & Family Movies, Comedies, Sci-Fi & F...",Affable alien Ratchet longs to be a Galactic R...
7400,s7401,Movie,Mantostaan,Rahat Kazmi,"Raghuvir Yadav, Veerendra Saxena, Sonal Sehgal...",India,"December 15, 2017",2017,TV-MA,75 min,"Dramas, Independent Movies, International Movies",Four stories by writer Sadaat Hasan Manto culm...
480,s481,Movie,Finding Hubby,Femi D. Ogunsanwo,"Ade Laoye, Munachi Abii, Kehinde Bankole, Char...",NaN,"July 9, 2021",2020,TV-14,105 min,"Comedies, Dramas, International Movies",Oyin and her two close friends are on the hunt...
1974,s1975,Movie,Saheb Biwi Aur Gangster Returns,Tigmanshu Dhulia,"Irrfan Khan, Jimmy Shergill, Soha Ali Khan, Ma...",India,"September 19, 2020",2013,TV-MA,139 min,"Dramas, International Movies, Romantic Movies",Knotty love triangles and nefarious schemes ar...
2771,s2772,Movie,Uncorked,Prentice Penny,"Mamoudou Athie, Courtney B. Vance, Niecy Nash,...",United States,"March 27, 2020",2020,TV-MA,104 min,"Dramas, Independent Movies",A young man feels torn between his dream of be...
226,s227,TV Show,Post Mortem: No One Dies in Skarnes,NaN,"Kathrine Thorborg Johansen, Elias Holmen Søren...",NaN,"August 25, 2021",2021,TV-MA,1 Season,"International TV Shows, TV Comedies, TV Dramas",She's back from the dead and has a newfound th...
8127,s8128,Movie,Superfly,Gordon Parks,"Ron O'Neal, Carl Lee, Sheila Frazier, Julius H...",United States,"November 1, 2019",1972,R,91 min,"Action & Adventure, Classic Movies, Dramas","To get away from the thug life, cocaine dealer..."
2601,s2602,Movie,Rich in Love,Bruno Garotti,"Danilo Mesquita, Giovanna Lancellotti, Jaffar ...",Brazil,"April 30, 2020",2020,TV-14,105 min,"Comedies, International Movies, Romantic Movies",Rich kid Teto is determined to prove himself t...
3300,s3301,Movie,Burning Cane,Phillip Youmans,"Wendell Pierce, Karen Kaia Livers, Dominique M...",United States,"November 6, 2019",2019,TV-MA,78 min,Dramas,A small-town Louisiana minister and one of his...
951,s952,Movie,The Sweetest Thing,Roger Kumble,"Cameron Diaz, Christina Applegate, Selma Blair...",United States,"May 1, 2021",2002,R,89 min,"Comedies, Romantic Movies","After meeting her potential soul mate, a commi..."
7612,s7613,Movie,NOVA: Killer Volcanoes,Oliver Twinch,Craig Sechler,United States,"July 1, 2019",2017,TV-PG,54 min,Documentaries,Evidence of a mysterious medieval famine leads...
795,s796,TV Show,Happy Endings,NaN,"Eliza Coupe, Elisha Cuthbert, Zachary Knighton...",United States,"June 2, 2021",2012,TV-14,3 Seasons,TV Comedies,"After his fiancée, Alex, dumps him at the alta..."
2588,s2589,TV Show,Oh Yuck,NaN,"Kayne Tremills, Nia Roam, David Collins, Shane...",Canada,"May 1, 2020",2020,TV-G,1 Season,"Kids' TV, TV Comedies","Using a concoction of cartoons, comedy and liv..."
5353,s5354,Movie,Jessica Darling's It List,Ali Scher,"Chloe East, Emma Rayne Lyle, Jane Widdop, Jane...",United States,"August 1, 2017",2016,TV-Y,80 min,"Children & Family Movies, Comedies",Armed with popularity tips from her beautiful ...
1728,s1729,Movie,The Endless Trench,"Aitor Arregi, Jon Garaño, Jose Mari Goenaga","Antonio de la Torre, Belén Cuesta, Vicente Ver...","Spain, France, Canada","November 6, 2020",2019,TV-MA,148 min,"Dramas, Independent Movies, International Movies","Fearing retribution, a Republican from the Spa..."
4075,s4076,Movie,My Ex & Whys,Cathy Garcia-Molina,"Liza Soberano, Enrique Gil, Joey Marquez, Cai ...",Philippines,"February 27, 2019",2017,TV-14,121 min,"Comedies, Dramas, International Movies",Popular blogger Cali is hired for a marketing ...
4264,s4265,TV Show,People Just Do Nothing,NaN,"Allan Mustafa, Hugo Chegwin, Asim Chaudhry, Li...",United Kingdom,"December 22, 2018",2018,TV-MA,5 Seasons,"British TV Shows, TV Comedies",Spinning old-school beats is just another day ...
2159,s2160,Movie,Work It,Laura Terruso,"Sabrina Carpenter, Jordan Fisher, Liza Koshy, ...",United States,"August 7, 2020",2020,TV-14,94 min,Comedies,A brilliant but clumsy high school senior vows...
5785,s5786,TV Show,VeggieTales in the House,NaN,"Phil Vischer, Mike Nawrocki, Rob Paulsen, Tres...",United States,"September 23, 2016",2016,TV-Y,4 Seasons,Kids' TV,"Bob the Tomato, Larry the Cucumber and their V..."
1132,s1133,Movie,Seven Souls in the Skull Castle: Season Wind,Hidenori Inoue,"Kenichi Matsuyama, Osamu Mukai, Rena Tanaka, J...",NaN,"April 1, 2021",2017,TV-14,185 min,"Action & Adventure, Dramas, International Movies","Japan, 1590. Wandering samurai band together t..."
8028,s8029,Movie,Sister Code,Corey Grant,"Drew Sidora, Eva Marcille, Amber Rose, Marcus ...",United States,"February 14, 2016",2015,R,95 min,"Comedies, Dramas, Romantic Movies","After the death of their beloved mother, three..."
7857,s7858,Movie,Resident Evil: Afterlife,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Kim Coates, Shawn ...","Germany, France, United States, Canada, United...","January 1, 2020",2010,R,97 min,"Action & Adventure, Horror Movies, Sci-Fi & Fa...",The Undead Apocalypse continues as super-soldi...

In [102]:
df['country'].replace(np.NaN, '', inplace=True)

In [103]:
dct = {}
for val in df['country']:
    if ',' in val:
        l = val.replace(' ,', ',').replace(', ', ',').split(',')
        for v in l:
            if v in dct:
                dct[v] = dct[v] + 1
            else:
                dct[v] = 1
    else:
        if val in dct:
            dct[val] = dct[val] + 1
        else:
            dct[val] = 1
dct.pop('')
d = {'Countries': [*dct], 'Count': [dct[key] for key in dct]}
df_countries = pd.DataFrame(data=d)

df_countries.head()

       Countries  Count
0  United States   3690
1   South Africa     62
2          India   1046
3          Ghana      5
4   Burkina Faso      1

In [104]:
import pycountry

input_countries = [*dct]

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_3

codes = [countries.get(country, 'Unknown code') for country in input_countries]

df_countries = df_countries.assign(iso_alpha=codes)

df_countries.head()

       Countries  Count iso_alpha
0  United States   3690       USA
1   South Africa     62       ZAF
2          India   1046       IND
3          Ghana      5       GHA
4   Burkina Faso      1       BFA

In [112]:
df_countries.to_csv(r'..\data\netflix-countries.csv', sep=',', index=False)
df.to_csv(r'..\data\netflix.csv', sep=',', index=False)